/* styles/About.module.css */
.about {
    padding: 2rem;
    background-color: #f4f4f9;
    text-align: center;
  }
  
  .about h2 {
    font-size: 2rem;
  }
  
  .about p {
    font-size: 1rem;
    color: #333;
  }
  